# Rust
/target
Cargo.lock

# Ejecutables y archivos de depuración
*.exe
*.pdb
*.dll

# Temp
query

# Configuración sensible (¡Muy importante!)
.env
.env.*

# Docker
.data/
target/

github_token.txt
